.App {
    text-align: center;
}

.MuiListItemIcon-root svg {
    font-size: 1rem !important;
}

.MuiDrawer-paperAnchorRight {
    align-items: center;
    justify-content: center;
}

.MuiDrawer-paperAnchorRight .MuiGrid-item {
    padding-left: 8px !important;
}